img {
	display: block;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 5%;
}

body {
	background-image: linear-gradient(to right, rgb(152, 242, 159), rgb(18, 130, 168), #f26ef2);
}

h1 {
	color: white;
	family-font: Helvetica, sans-serif;
	text-align: center;
	text-weight: 800;
}

div {
	text-align: center;
}

div.flex {
	display: flex;
	justify-content: flex-end;
}

div.container {
	display: flex;
	justify-content: space-around;
	margin-top: 100px;
}